<div class="bot">
    <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
<script>
  window.botpressWebChat.init({
      "composerPlaceholder": "Chat with College Bazaar Bot",
      "botConversationDescription": "a bot for College Bazaar",
      "botId": "740c4dc7-c287-47f6-aedf-2a7f24c66d94",
      "hostUrl": "https://cdn.botpress.cloud/webchat/v1",
      "messagingUrl": "https://messaging.botpress.cloud",
      "clientId": "740c4dc7-c287-47f6-aedf-2a7f24c66d94",
      "webhookId": "ba0afd88-1e10-4619-b788-5ebc6fb1b290",
      "lazySocket": true,
      "themeName": "prism",
      "botName": "College Bazaar Bot",
      "stylesheet": "https://webchat-styler-css.botpress.app/prod/9d8b385c-fe40-47e3-9cd7-c8540bbe8012/v46275/style.css",
      "frontendVersion": "v1",
      "useSessionStorage": true,
      "showPoweredBy": true,
      "theme": "prism",
      "themeColor": "#2563eb"
  });
</script>
</div>