<% if(success && success.length) {%>
<div class="toast">
  
    <div class="toast-content">
      <i class="fas fa-solid fa-check check">👍</i>
  
      <div class="message">
        <span class="text text-1">Success</span>
        <span class="text text-2"><%= success %></span>
      </div>
    </div>
    <i class="fa-solid fa-xmark close"></i>
  

    <div class="progress"></div>
</div>
<% } %>

<% if(error && error.length) {%>

    <div class="toast">
  
        <div class="toast-content">
          <i class="fas fa-solid fa-check check">⚒️</i>
          
          <div class="message">
            <span class="text text-1">Error</span>
            <span class="text text-2"><%= error %></span>
          </div>
        </div>
        <i class="fa-solid fa-xmark close"></i>
      
    
        <div class="progress"></div>
    </div>

<% } %>