<nav>
  <div class="logo">
    <img src="..\img\Logos\CB_Dark.png" alt="">
  </div>
  <ul>
    <li><a href="Home.html">Home</a></li>
    <li><a href="About.html">About</a></li>
    <li><a href="Contact.html">Contact Us</a></li>
  </ul>

  <div class="search">
    <input type="text" placeholder="Search your favorite products here">
    <button class="btn">search</button>
  </div>
</nav>