<!--welcome-hero start -->

<section id="home" class="welcome-hero">

    <div class="container">
        <div class="welcome-hero-txt">
            <h2>College Bazar your one stop shop <br> for all you need in college life </h2>
            <p>
                Find Best Stationery, Books, Utilities, Services and many more 
            </p>
        </div>
    </div>

</section><!--/.welcome-hero-->
<!--welcome-hero end -->
<script src="../js/slide-image.js"></script>