<!--welcome-hero start -->

<section id="home" class="welcome-hero">

    <div class="container">
        <div class="welcome-hero-txt">
            <h2>College Bazar your one stop shop <br> for all you need in college life </h2>
            <p>
                Find Best Stationery, Books, Utilities, Services and many more 
            </p>
        </div>
        <div class="welcome-hero-serch-box">
            <div class="welcome-hero-form">
                <div class="single-welcome-hero-form">
                    <h3>what?</h3>
                    <form action="index.html">
                        <input type="text" placeholder="Ex: Stationery, Books, Utilities, Services" />
                    </form>
                </div>
            </div>
            <div class="welcome-hero-serch">
                <button class="welcome-hero-btn" onclick="window.location.href='#'">
                     search  <i data-feather="search"></i> 
                </button>
            </div>
        </div>
    </div>

</section><!--/.welcome-hero-->
<!--welcome-hero end -->
<script src="../js/slide-image.js"></script>