<%- layout('layouts/boilearplate') %>
<% block('head').append('<link rel="stylesheet" href="../css/aboutUs.css">') %>
    <div class="typewriter">Welcome to College Bazar, your number one source for all things college related.
        "We're dedicated to providing you the very best of college products, with an emphasis on quality, affordability, and uniqueness."

        We at College Bazaar want to fulfil our goal of completely ending the gap between college students in need of selling or buying the essentials.

        This is a web development project, a classifieds website functioning as a platform for the college students.
        
        We are aware of the competitors we have like bigger e-commerce websites like Quikr.com, Olx.com and we even found a similar idea from last decade which was unsuccessful named fratmart.com whose domain is now available for purchase.
    </div>
    <main>
        <h2>Our Team</h2>
        <div class="creators">
            <div class="creator-card" onclick="this.classList.toggle('flipped')">
                <img src="https://avatars.githubusercontent.com/u/114080295?v=4" alt="ayush1512">
                <h2>Ayush Saxena</h2>
                <div class="creator-description">
                    <p>Description</p>
                    <button onclick="window.open('https://github.com/ayush1512', '_blank')">View Profile</button>
                </div>
            </div>
            <div class="creator-card" onclick="this.classList.toggle('flipped')">
                <img src="https://avatars.githubusercontent.com/u/116154729?v=4" alt="piyushd512">
                <h2>Piyush Dwivedi</h2>
                <div class="creator-description">
                    <p>Description</p>
                    <button onclick="window.open('https://github.com/piyushd512', '_blank')">View Profile</button>
                </div>
            </div>
            <div class="creator-card" onclick="this.classList.toggle('flipped')">
                <img src="https://avatars.githubusercontent.com/u/147560917?v=4" alt="saurabh0151">
                <h2>Saurabh Dwivedi</h2>
                <div class="creator-description">
                    <p>Description</p>
                    <button onclick="window.open('https://github.com/saurabh0151', '_blank')">View Profile</button>
                </div>
            </div>
        </div>
    </main>
    <script src="../js/aboutUs.js"></script>