<%- layout('layouts/boilearplate') %>
<% block('head').append('<link rel="stylesheet" href="../css/contactUs.css">') %>
<div class="contactUsCard">
    <h2>Contact Us</h2>
    <form style="width: 80%;">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Your name.." style="width: 100%;">

        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Your email.." style="width: 100%;">

        <label for="message">Message</label>
        <textarea id="message" name="message" placeholder="Write something.."
            style="width: 100%; height: 150px;"></textarea>

        <input type="submit" value="Submit"
            style="background-color: darkcyan; color: white; font-weight: bold; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">
    </form>
</div>
<div class="contactUsCard">
    <h2>Location</h2>
    <p>Indira Gandhi Engineering College, Sagar, 470021</p>
</div>
<div class="contactUsCard">
    <h2>Phone Number</h2>
    <p>9109689815, 9752296914</p>
</div>
<div class="contactUsCard">
    <h2>Email</h2>
    <p>ayushsaxena1512@gmail.com</p>
</div>
<script>
    const form = document.querySelector('form');
    const nameInput = document.querySelector('#name');
    const emailInput = document.querySelector('#email');
    const messageInput = document.querySelector('#message');

    form.addEventListener('submit', (event) => {
        event.preventDefault();
        const formData = new FormData(form);
        const name = formData.get('name');
        const email = formData.get('email');
        const message = formData.get('message');
        console.log(name, email, message);
        form.reset();
        alert('Thank you for your message!');
    });
</script>