<%- layout('layouts/boilearplate') %>
<% block('head').append('<link rel="stylesheet" href="../css/newProduct.css">') %>
    <form action="/products" method="POST" enctype="multipart/form-data" >
        <div>
            <div>
                <h2>Category</h2>
                <select name="productDetail[category]">
                    <option value="Stationery">Stationery</option>
                    <option value="Books">Books</option>
                    <option value="Utilities">Utilities</option>
                    <option value="Services">Services</option>
                </select>
            </div>
            <div>
                <h2>Details</h2>
                <input type="text" name="productDetail[brand]" placeholder="Brand" required>
                <input type="text" name="productDetail[title]" placeholder="Add title" required>
                <textarea name="productDetail[description]" id="description" cols="30" rows="10" placeholder="Description"></textarea>
            </div>
            <div>
                <h2>Set Price</h2>
                <input type="number" name="productDetail[price]" min="0" placeholder="Price">
            </div>
            <div>
                <h2>Upload Photos</h2>
                <input type="file" accept="image/*" name="fileToUpload" id="fileToUpload" min="3" max="15" multiple required>
            </div>
            <div>
                <h2>Location</h2>
                <input type="text" name="productDetail[location]" placeholder="Location">
            </div>
            <div>
                <h2>Phone Number</h2>
                <input type="tel" name="productDetail[phone]" placeholder="Phone Number">
                <div>
                    <button type="submit">Submit</button>
                </div>
            </div>
    </form>
    <script src="../js/newProduct.js"></script>