<%- layout('layouts/boilearplate') %>
<% block('head').append('<link rel="stylesheet" href="../css/productList.css">') %>
<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700,800" rel='stylesheet' type='text/css'>
<button id="switchView">Switch View</button>
<div id="products"></div>
<script src="../js/productList.js"></script>