<% layout('layouts/boilearplate') %>
    <% block('head').append('<link rel="stylesheet" href="../css/profileEdit.css">') %>
    <div class="container">
      <h1>Edit Profile</h1>
      <hr>
      <form action="">
        <div class="row">
          <!-- left column -->
          <div class="col-md-3 col-sm-12">
            <div class="text-center">
              <% if(user.photos){ %>
                <img src="<% user.photos['url']%>" alt="">
              <% }else{ %>
                <img src="https://png.pngitem.com/pimgs/s/150-1503945_transparent-user-png-default-user-image-png-png.png"
                class="avatar img-circle" alt="avatar" style="height: 200px; width: 200px;">
              <% } %>
              <label for="file" class="custom-file-upload">
                Upload File
              </label>
              <input type="file" id="file" name="file">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Name:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="<%= user.name %>">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="email" <% user.email %>>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" id="password">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm Password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" id="password">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Phone:</label>
            <div class="col-md-8">
              <input class="form-control" type="tel" value="<%= user.phone %>">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Year:</label>
            <div class="col-md-8">
              <select class="form-control">
                <option <% if(user.year==1){ %> selected <% } %> value="1">1</option>
                <option <% if(user.year==2){ %> selected <% } %> value="2">2</option>
                <option <% if(user.year==3){ %> selected <% } %> value="3">3</option>
                <option <% if(user.year==4){ %> selected <% } %> value="4">4</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Branch:</label>
            <div class="col-md-8">
              <select class="form-control">
                <option <% if(user.branch=="IT"){ %> selected <% } %> value="IT">IT</option>
                <option <% if(user.branch=="EE"){ %> selected <% } %> value="EE">EE</option>
                <option <% if(user.branch=="EC"){ %> selected <% } %> value="EC">EC</option>
                <option <% if(user.branch=="ME"){ %> selected <% } %> value="ME">ME</option> 
                <option <% if(user.branch=="CE"){ %> selected <% } %> value="CE">CE</option> 
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">College:</label>
            <div class="col-md-8">
              <input class="form-control" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Bio:</label>
            <div class="col-md-8">
              <textarea class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="submit" class="btn btn-primary" value="Save Changes">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
      </form>
      <hr>
  <% block('footer').append('<script src="../js/profileEdit.js"></script>') %>